nav.navbar {
  display: flex;
  top: 0;
  position: sticky;
  align-items: center;
  /* background-color: #6c91bf; */
  background-color: #74c0fc;
  /* background-color: #90C3C8; */
  height: 3rem;
}

nav a {
  padding: 1rem;
  font-size: 1.2rem;
  /* font-family: Segoe UI; */
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: white;
  padding: 8px;
  margin: 8px;
  background-color: black;
  border-radius: 10px;
}
#scrollBar {
  background-color: maroon;
  display: block;
  position: fixed;
  height: 4px;
  transition: width 0.5s;
}
