.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #74c0fc;
  z-index: 100;
}
nav a,
nav a:hover {
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}
nav a {
  color: black;
}
nav a:hover {
  color: white;
  background-color: black;
  border-radius: 100px;
}
#scrollBar {
  align-self: flex-end;
  position: absolute;
  background-color: maroon;
  border-radius: 50px;
  height: 3px;
}
