<mat-card>
  <mat-card-title> Associate Software Engineer <span style="float:right">MindGrub</span> </mat-card-title>
  <li>
    Developed an internal management system with team-building exercises using
    React, JSX, Sass, and Drupal CMS.
  </li>
  <li>
    Apprehended JWT Authentication to securely access routes, services, and resources from the database.
  </li>
  <li>
    Implemented multiple Drupal custom modules to leverage front-end development
    using React.
  </li>
  <li>
    Collaborated with interactive designers and management to enhance websites
    while being able to handle responsibilities and new protocols.
  </li>
</mat-card>

<mat-card>
  <mat-card-title>Data Science & Analytics Intern <span style="float:right">VentureShip</span></mat-card-title>
  <li>
    Built a dedicated website from scratch using WordPress, Html, and CSS.
  </li>
  <li>
    Conducted data analysis of the relationship between the company's website
    and best-fit traffic.
  </li>
  <li>
    Experienced agile software development by performing weekly sprints during 3
    different phases strategizing the development of the product.
  </li>
</mat-card>
