<section id="projects">
  <header class="project-heading">
    <span>Let's See My Work</span>
    <h3>Top Projects</h3>
  </header>

  <ul class="project-filter">
    <li class="list" id="project-filter-active" data-filter="app">
      Application
    </li>
    <!-- <li class="list" data-filter="design">App Design</li> -->
    <!-- <li class="list" data-filter="web">Website Design</li> -->
    <li class="list" data-filter="ai">AI</li>
  </ul>

  <div class="project-container">
    <div class="project-box app">
      <img src="../../assets/images/Bit-Fil-A.png" />
      <h1>Bit-Fil-A</h1>
      <p>
        Bit-Fil-A is an angular-based CRUD application consisting of a menu &
        shopping cart.
      </p>
      <button (click)="bitFilAClick()">read more</button>
    </div>
    <div class="project-box app">
      <img src="../../assets/images/Post-It.png" />
      <h1>Post-It</h1>
      <p>
        Post-It is a simple MEAN Stack application that allows users to add
        public notes with images.
      </p>
      <button (click)="openPostIt()">read more</button>
    </div>
    <!-- <a class="project-box design">
      <img src="../../assets/images/Octocat.png" />
    </a> -->
    <!-- <a class="project-box web">
      <img src="../../assets/images/Octocat.png" />
    </a> -->
    <!-- <a class="project-box ai">
      <img src="../../assets/images/Octocat.png" />
    </a> -->
  </div>
</section>
