<section id="projects">
  <header class="project-heading">
    <span>Let's See My Work</span>
    <h3>Top Projects</h3>
  </header>

  <ul class="project-filter">
    <li class="list" id="project-filter-active" data-filter="all">All</li>
    <li class="list" data-filter="app">Application</li>
    <li class="list" data-filter="design">App Design</li>
    <li class="list" data-filter="web">Website Design</li>
    <li class="list" data-filter="ai">AI</li>
  </ul>

  <div class="project-container">
    <a href="" class="project-box app">
      <img src="../../assets/images/Octocat.png">
    </a>
    <a href="" class="project-box design">
      <img src="../../assets/images/Octocat.png">
    </a>
    <a href="" class="project-box web">
      <img src="../../assets/images/Octocat.png">
    </a>
    <a href="" class="project-box ai">
      <img src="../../assets/images/Octocat.png">
    </a>
  </div>
</section>
