@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
div {
  margin: auto;
  width: min(50em, 100%);
  font-family: "Lato", sans-serif;
  padding-top: 1em;
}

mat-expansion-panel {
  margin-bottom: 1em;
}

mat-expansion-panel-header {
  font-size: 20px;
}
