mat-drawer-container {
    height: 100%;
}

mat-drawer, mat-drawer-content {
    padding: 16px;
}

mat-drawer {
    background-color: #BED5EF;
    width: 15%;
}

.profile-pic {
    width: 100%;
    border-radius: 50%;
}

.nav {
    right: 0;
    margin-right: 20px;
    position: fixed;
}