/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  background: linear-gradient(45deg, #FC7864, #FDA366) fixed;
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
