/* .intro-container {
  color: black;
} */

#html-svg,
#python-svg,
#angular-svg,
#java-svg,
#css-svg,
#bootstrap-svg,
#javascript-svg,
#react-svg,
#nodejs-svg {
  width: 50px;
  height: 50px;
}

.name {
  color: orangered;
}

.home-container {
  margin: auto;
  width: min(50em, 100%);
  height: min(50em, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-container {
  margin-right: 10px;
  border-radius: 10px;
  text-align: center;
}

.skills-container img {
  vertical-align: middle;
}
