<div class="home-container">
  <img
    id="profile"
    src="../../assets/images/pro-pic.jpg"
    height="300"
    width="300"
  />
  <h1 id="introduction">Hi👋, I'm <span class="name">Siddharth Patel</span>.</h1>
  <h1 id="description">
    I'm a recent graduate with Bachelors in Computer Science from George Mason
    University.
  </h1>

  <div class="skills-container">
    <h1><b>Skills</b></h1>
    <div>
      <h2>Web Development</h2>
      <figure>
        <img src="../../assets/images/html5.svg" />
        <figcaption><b>HTML</b></figcaption>
      </figure>
      <figure>
        <img src="../../assets/images/css.svg" />
        <figcaption><b>CSS</b></figcaption>
      </figure>
      <figure>
        <img src="../../assets/images/angular.svg" />
        <figcaption><b>Angular</b></figcaption>
      </figure>
      <figure>
        <img src="../../assets/images/javascript.svg" />
        <figcaption><b>JavaScript</b></figcaption>
      </figure>
      <figure>
        <img src="../../assets/images/bootstrap.svg" />
        <figcaption><b>Bootstrap</b></figcaption>
      </figure>
      <figure>
        <img src="../../assets/images/react.svg" />
        <figcaption><b>React</b></figcaption>
      </figure>
      <figure>
        <img src="../../assets/images/typescript.svg" />
        <figcaption><b>TypeScript</b></figcaption>
      </figure>
    </div>
    <!-- Web Development End -->
    <div>
      <h2>Back-end</h2>
      <figure>
        <img src="../../assets/images/python.svg" />
        <figcaption><b>Python</b></figcaption>
      </figure>
      <figure>
        <img src="../../assets/images/java.svg" />
        <figcaption><b>Java</b></figcaption>
      </figure>
      <figure>
        <img src="../../assets/images/mongodb.svg" />
        <figcaption><b>MongoDB</b></figcaption>
      </figure>
      <figure>
        <img src="../../assets/images/firebase.svg" />
        <figcaption><b>Firebase</b></figcaption>
      </figure>
      <figure>
        <img src="../../assets/images/nodejs.svg" />
        <figcaption><b>NodeJS</b></figcaption>
      </figure>
    </div>
    <!-- Back-end Ends -->
    <div>
      <h2>Others</h2>
      <figure>
        <img src="../../assets/images/heroku.svg" />
        <figcaption><b>Heroku</b></figcaption>
      </figure>
      <figure>
        <img src="../../assets/images/github.svg" />
        <figcaption><b>GitHub</b></figcaption>
      </figure>
    </div>

    <h1 id="interest">Interested in working with me?</h1>
    <a [href]="contactMe" class="contact">Contact Me!</a>
  </div>
</div>
